body{
margin:0px;
font-family: 'Lato', sans-serif;
}

p {
	font-size: 16px;
	color:black;
}

h1{
	font-size:26px;
	color:#ff575b;
	margin-bottom: 20px;
		margin-top: 20px;
		text-align: center;
		letter-spacing: 2px;
}

h2{
	font-size:20px;
	color:#ff575b;
	margin-bottom: 20px;
	margin-top: 20px;
}

h3{
	font-size:40px;
	color:white;
}

h4{font-size: 20px;
color:white;
}
h5{font-size: 30px;
	color:white;
}


a{
  outline: none;
text-decoration: 
}

a:h{
  outline: none;
text-decoration: 
}

.legendevideo{
margin-top:5px;
}

.containerexercices{
	background: white;
	overflow:auto;
}


.grandexercice{
margin: 0 auto;
     width: 65%; 
    min-height: 100vh;
     padding-top:5%;
    padding-bottom:5%;
}

.exercice {

margin-top: 10px;
margin-bottom: 10px;
padding-left :30px;
padding-right: 30px;
padding-top:10px;
padding-bottom:10px;
width: 100%;
}


.granda{
	padding-top:20px;
margin: 0 auto;
max-width:45%;
    min-height: 100vh;
}



.grandrappel{
margin: 0 auto;
     width: 65%; 
    min-height: 100vh;
    padding-top:10%;
    padding-bottom:10%;
}

.contenu{
margin: 0 auto;
     width: 65%; 
    padding-top:10%;
    padding-bottom:10%;
}

.rappel{
	background: white;
	margin : 0 auto;
	padding :30px;
	border:solid;
	border-width: 1px;
	border-color:#626567;
	width:70%;
	box-shadow: 20px 10px #ff575b;
}


.lecon {
background-position: top;
background-color: #ff575b;
font-size: 20px;
color:white;
letter-spacing: 4px;
padding :75px;
min-height: 100vh;
margin:0;
}

.bouton{
	margin-top:20px;
	padding:10px;
color:#ff575b;
border:solid;
	border-width: 2px;
	border-color:#ff575b;
	width: 120px;

}

.bouton:hover{
border:solid;
	border-width: 1px;
	border-color:#ff575b;
	background: #ff575b;
	color:white;

}

.boutonb{
	margin-top:20px;
	padding:10px;
color:white;
border:solid;
	border-width: 2px;
	border-color:white;
	width: 120px;

}

.boutonb:hover{
border:solid;
	border-width: 1px;
	border-color:white;
	background: white;
	color:#ff575b;

}


.grand2 {
margin: 0 auto;
     width: 65%; 
}

.soustitre {
font-size:20px;
margin-top: 5px;
margin-bottom: 0px;
padding-bottom: 0px;
color:#ff575b;
}

.chrono {
font-size:14px;
font-style: italic;
margin-top: 0px;
padding-top: 0px;
}



.gauche {
	display: inline-block;
float:left;
width:50%;
padding-right: 50px;

}

.droite {
		display: inline-block;
	float:left;
width:50%;

}

.gaucheb {
display: inline-block;
float:left;
width:70%;
padding-right: 30px;
}

.droiteb {
		display: inline-block;
		float:left;
width:30%;
}

.end{
	margin:0 auto;
	margin-top:25px;
	margin-bottom:25px;
	text-align: center;
	color:#ff575b;
	letter-spacing: 2px;
	font-size: 18px;
}


.leconb{
	background-position: top;
background-color: #ff575b;
font-size: 20px;
color:white;
letter-spacing: 4px;
padding :75px;
max-height: 40vh;
margin:0;
}



.boutontest{
	margin-top:20px;
	padding:10px;
color:black;
border:solid;
	border-width: 2px;
	border-color:black;
	width: 300px;
	text-align: center;
	margin-bottom: 60px;
}

.boutontest:hover{
border:solid;
	border-width: 1px;
	border-color:#ff575b;
	background: #ff575b;
	color:white;

}


@media screen and (max-width: 600px) {
  .granda{
	padding-top:20px;
margin: 0 auto;
max-width:90%;
    min-height: 100vh;
}
}
